
@{
    ViewData["Title"] = "Confirm";
}

<h3>Hợp đồng số @ViewBag.contract hiện tại có thứ tự đặt chỗ là: @ViewBag.priority @TempData["namae"]</h3>
<p>Hợp đồng này sẽ thay đổi số thứ tự nếu Quý khách không nộp đủ tiền trong vòng 2 giờ làm việc</p>
<a asp-action="Views" asp-route-id="@ViewBag.contract">In hợp đồng</a>
<a asp-action="Home" asp-route-id="@ViewBag.sale">Trở về trang chính</a>
