@model BookingForm.Models.Sale

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <a asp-action="Meetings"  asp-route-id="@Model.ID">Lịch sử gặp khách hàng</a>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
